

body {
    font-family: 'Manrope', sans-serif;
    background-color: hsl(210, 46%, 95%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow: hidden;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
 
}

#drawer_pic {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 283px;
    height: 283px;
    margin-top: 5px;
    box-shadow: 0px 6px 18px hsl(212, 23%, 69%);
}

.box_container {
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 283px;
    width: 446px;
    box-shadow: 0px 6px 18px hsl(212, 23%, 69%);
}

.main_text h1 {
    font-size: 16px;
    letter-spacing: 1.4px;
    margin: 40px 64px 20px 40px;
    color: hsl(217, 19%, 35%);
}

.center_text p {
    font-size: 11px;
    margin: -4px 64px 20px 40px;
    line-height: 1.6;
    letter-spacing: 0.04375rem;
    color: hsl(212, 23%, 69%);
    
}

#ava_michelle {
    border-radius: 100%;
    height: 40px;
    margin: 10px 10px -6px 40px;
}

.footer h2, p {
    display: inline-block;  
   
}

.footer h2 {
    font-size: 11px;
    margin-top: 15px;
    position: absolute;
    color: hsl(217, 19%, 35%);
}

.footer p {
    font-size: 11px;
    color: hsl(212, 23%, 69%);
}

.share_icon {
    float: right;
    margin-top: -37px;
    margin-right: 42px;
    z-index: 1;
    border: none;
    border-radius: 100%;
    transition: 0.2s;
}

.share_icon svg {
    padding: 8px 8px 7px 8px;
}

.share_icon:hover, .share_icon--active {
    background-color: hsl(212, 23%, 69%);
    
    }
     
.share_icon--active:hover {
    background-color: hsl(210, 46%, 95%);
}

.share_icon:hover .icon {
    fill: #f4f7fa;
}

.icon--active {
    fill: #f4f7fa;
    
}

.share_icon--active:hover .icon--active {
    fill: #6d7f97;
   
}

.share_icon:hover + .active_state_box {
    display: block;
}

.active_state_box {
    position: relative;
    background-color:  hsl(217, 19%, 35%);
    border-radius: 10px;
    height: 55px;
    width: 248px;
    float: right;
    margin-top: -131px;
    margin-right: -56px;
    display: none;
}

.active_state_box p {
    text-transform: uppercase;
    color: hsl(212, 23%, 69%);
    margin-left: 40px;
    margin-right: 18px;
    font-weight: 500;
    letter-spacing: 4.6px;
    font-size: 14px;
}

#facebook_icon {
    margin-right: 12px;
    margin-top: 15px;
    margin-bottom: -4px;
}
#twitter_icon {
    margin-right: 12px;
    margin-bottom: -3px;
}
#pinterest_icon {
    margin-bottom: -4px;
}

.triangle_down {
    width: 0;
    height: 0px;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 13px solid hsl(217, 19%, 35%);
    float: right;
    margin-top: 5px;
    margin-right: 100px;
    
  }

  @media only screen and (max-width: 600px) {


.container {
    flex-direction: column;
}

    #drawer_pic {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        width: 327px;
        height: 201px;
        
    }

    .box_container {
        background-color: white;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
        height: 313px;
        width: 327px;
        margin-top: -5px;
    }

    
    .main_text h1 {
        font-size: 15px;
        margin-right: 19px;
        margin-left: 28px;
    }

    .center_text p {
        margin-right: 32px;
        margin-left: 28px;
        font-size: 12px;
        
    }

    #ava_michelle {
        margin-top: 9px;
    }
    
    
    .footer h2 {
        margin-top: 11px;
    }
    
    
    .share_icon {
        position: relative;
        margin-top: -37px;
        margin-right: 28px;
    }

    .share_icon:hover {
        margin-top: -30px;
    }

    .active_state_box {
        
        position: absolute;
        background-color:  hsl(217, 19%, 35%);
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        height: 70px;
        width: 327px;
        margin-top: -47px;
        
        
    }
    
    .active_state_box p {
        margin-left: 18px;
        margin-right: 18px;
        padding: 10px;
    
    }
    
    #facebook_icon {
        margin-right: 12px;
        margin-top: 15px;
        margin-bottom: -4px;
    }
    #twitter_icon {
        margin-right: 12px;
        margin-bottom: -3px;
    }
    #pinterest_icon {
        margin-bottom: -4px;
    }
    
    .triangle_down {
        display: none;
      }
  }